SECRET_KEY=cle_a_remplacer
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=mot_de_passe_local
DB_HOST=localhost
DB_PORT=5432
SMTP_SERVER=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=votre_identifiant_smtp
SMTP_PASSWORD=votre_cle_smtp
SMTP_SENDER=votre_adresse_expediteur
