SECRET_KEY=cle_secrete_a_changer
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=mot_de_passe
DB_HOST=localhost
DB_PORT=5432

BREVO_API_KEY=xkeysib-votre_cle_api_ici
SMTP_SENDER=campusrequest.skolae@gmail.com
